In [ ]:
import pandas as pd 
import requests 
import numpy as np
import json 
import os 

from bs4 import BeautifulSoup
from time import sleep
from datetime import datetime

In [107]:
url_base = 'https://api.yelp.com/v3/'

url_review = 'businesses/{id}/reviews'
url_business = 'businesses/search'

In [5]:
apikey = 'Bearer CrgilvjOJW-U-DnMiyFz_xypRqtVtfL_yekfgb4Kg5xNRWe1A83s2llrJ7RxnXYa0iqT8GwTCHJZKvYMHL7CmV1zJPe0D1_jWrH8W0bMxTtR6Ufksbg5REDVrSDbY3Yx'

In [19]:
url = os.path.join(url_base, url_business)
url

'https://api.yelp.com/v3/businesses/search'

In [6]:
api_header = {'Authorization': apikey, 'accept': 'application/json'}

In [ ]:
params = {
    'location': 'san francisco',
    'term': 'Soup',
    'limit': 1,
    'offset': 0
}

r = requests.get(url, headers=api_header, params=params)

In [ ]:
def retrieve_reviews(url):
    content = requests.get(url)
    soup = BeautifulSoup(content.content, "html.parser")
    relevant = soup.find_all('p', class_='comment__09f24__gu0rG css-qgunke')
    reviews = []
    
    for rev in relevant:
        review = rev.find('span').getText()
        reviews.append(review)

    return reviews

In [105]:
def search_for_restaurant(term,location='San Francisco'):
    params = {
        'location': location,
        'term':term,
        'limit': 1,
        'offset': 0
    }
    r = requests.get(url,headers=api_header,params=params)
    result = json.loads(r.text)
    scrape_url = result['businesses'][0]['url'].split('?')[0]

    top_rated_url = os.path.join(scrape_url,'?sort_by=rating_desc')
    low_rated_url = os.path.join(scrape_url,'?sort_by=rating_asc')
    newest_rated_url = os.path.join(scrape_url,'?sort_by=date_desc')
    elite_rated_url = os.path.join(scrape_url,'?sort_by=elites_desc')

    top_rated_content = retrieve_reviews(top_rated_url)
    low_rated_content = retrieve_reviews(low_rated_url)
    new_rated_content = retrieve_reviews(newest_rated_url)
    elite_rated_content = retrieve_reviews(elite_rated_url)

    # review_df = pd.DataFrame(columns=['review_type','review'])

    top_rated_df = pd.DataFrame({'review_type':['top_rated']*len(top_rated_content),
                                  'review':top_rated_content})
    low_rated_df = pd.DataFrame({'review_type':['low_rated']*len(low_rated_content),
                                  'review':low_rated_content})
    newest_rated_df = pd.DataFrame({'review_type':['newest_rated']*len(new_rated_content),
                                  'review':new_rated_content})
    elite_rated_df = pd.DataFrame({'review_type':['elite_rated']*len(elite_rated_content),
                                  'review':elite_rated_content})
    
    rated_content = pd.concat([top_rated_df,low_rated_df,
                               newest_rated_df,elite_rated_df]).reset_index(drop=True)

    return rated_content

In [106]:
from yelp_scraper import *

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [ ]:
df

In [ ]:
test_df = search_for_restaurant('Daeho')

In [ ]:
params = {
    'location': 'San Francisco',
    'term': 'Daeho',
    'limit': 1,
    'offset': 0
}

r = requests.get(url, headers=api_header, params=params)

In [ ]:
result = json.loads(r.text)
scrape_url = result['businesses'][0]['url'].split('?')[0]

In [ ]:
a = requests.get(scrape_url)

In [ ]:
new_soup = BeautifulSoup(a.content, "html.parser")

In [ ]:
relevant = new_soup.find_all('p', class_='comment__09f24__gu0rG css-qgunke')
relevant

In [ ]:
scrape_url = 'https://www.yelp.com/biz/daeho-kalbijjim-and-beef-soup-san-francisco-9?sort_by=elites_desc'
a = requests.get(scrape_url)
new_soup = BeautifulSoup(a.content, "html.parser")
# relevant = new_soup.find_all('p', class_='comment__09f24__gu0rG css-qgunke')
# relevantnew_soup

In [ ]:
relevant = new_soup.find_all('p', class_='comment__09f24__gu0rG css-qgunke')
relevant

In [ ]:
text = relevant[0].find('span').getText()
text

In [ ]:
relevant = new_soup.find_all('p', class_='comment__09f24__gu0rG css-qgunke')
relevant[1].find('span').getText()

In [ ]:
elite_rated_url = 'https://www.yelp.com/biz/daeho-kalbijjim-and-beef-soup-san-francisco-9?sort_by=elites_desc'
elite_rated_content = requests.get(elite_rated_url)
new_soup = BeautifulSoup(elite_rated_content.content, "html.parser")
relevant = new_soup.find_all('p', class_='comment__09f24__gu0rG css-qgunke')
for rev in relevant:
    review = rev.find('span').getText()
    print(review)
    print('-'*100)

In [ ]:
newest_rated_url = 'https://www.yelp.com/biz/daeho-kalbijjim-and-beef-soup-san-francisco-9?sort_by=date_desc'
newest_rated_content = requests.get(newest_rated_url)
new_soup = BeautifulSoup(newest_rated_content.content, "html.parser")
relevant = new_soup.find_all('p', class_='comment__09f24__gu0rG css-qgunke')
for rev in relevant:
    review = rev.find('span').getText()
    print(review)
    print('-'*50)

In [ ]:
top_rated_url = 'https://www.yelp.com/biz/daeho-kalbijjim-and-beef-soup-san-francisco-9?sort_by=rating_desc'
top_rated_content = requests.get(top_rated_url)
new_soup = BeautifulSoup(top_rated_content.content, "html.parser")
relevant = new_soup.find_all('p', class_='comment__09f24__gu0rG css-qgunke')
for rev in relevant:
    review = rev.find('span').getText()
    print(review)
    print('-'*100)

In [ ]:
low_rated_url = 'https://www.yelp.com/biz/daeho-kalbijjim-and-beef-soup-san-francisco-9?sort_by=rating_asc'
low_rated_content = requests.get(low_rated_url)
new_soup = BeautifulSoup(low_rated_content.content, "html.parser")
relevant = new_soup.find_all('p', class_='comment__09f24__gu0rG css-qgunke')
for rev in relevant:
    review = rev.find('span').getText()
    print(review)
    print('-'*100)

In [ ]:
df

In [ ]:
a = df[df['review_type'] == 'top_rated'].groupby(by=['review_type'])['review'].transform(lambda x: ','.join(x)).drop_duplicates().reset_index(drop=True)
len(a[0])

In [ ]:
tokenizer(a[0])

In [ ]:
a = df[df['review_type'] == 'elite_rated'].groupby(by=['review_type'])['review'].transform(lambda x: ','.join(x)).drop_duplicates().reset_index(drop=True)
len(a[0])

In [ ]:
df.groupby(by=['review_type'])['review'].transform(lambda x: ','.join(x)).drop_duplicates().reset_index(drop=True)

In [ ]:
params = {}
term = 'restaurants'
location = 'San Francisco'
params['term'] = term
params['location'] = location
params['limit'] = 50
params['offset'] = 0

In [ ]:
response = requests.get(url,headers=api_header,timeout=25,params=params)

In [ ]:
response.content

In [ ]:
result = json.loads(response.text)

In [355]:
params = {}
term = 'restaurants'
location = 'San Jose'
params['term'] = term
params['location'] = location
params['limit'] = 50
params['offset'] = 0

df = pd.DataFrame()

while True:
    response = requests.get(url,headers=api_header,timeout=25,params=params)
    result = json.loads(response.text)

    df2 = pd.DataFrame(result['businesses'])
    df = pd.concat([df,df2]).reset_index(drop=True)
    df.to_csv('chunky_restaurant_metadata_san_jose.csv')
    # if params['offset'] == 0:
    #     params['offset'] += 1
    params['offset'] += 50

KeyError: 'businesses'

In [359]:
len(df['name'].unique())

954

In [350]:
params

{'term': 'restaurants',
 'location': 'San Francisco',
 'limit': 50,
 'offset': 1000}

In [354]:
len(pd.read_csv('chunky_restaurant_metadata.csv')['id'].unique())

1000

In [256]:
df['name'].value_counts()

Beit Rima                       2
Bodega                          2
Mamahuhu                        2
Dumpling Kitchen                2
The Italian Homemade Company    2
                               ..
Nopalito                        1
Dumpling Baby China Bistro      1
San Tung                        1
That's My Jam                   1
Birch & Rye                     1
Name: name, Length: 145, dtype: int64

In [343]:
params = {}
term = 'restaurants'
location = 'San Francisco'
params['term'] = term
params['location'] = location
params['limit'] = 50
params['offset'] = 50

response = requests.get(url,headers=api_header,timeout=25,params=params)
result = json.loads(response.text)

df2 = pd.DataFrame(result['businesses'])
# df2

In [344]:
params = {}
term = 'restaurants'
location = 'San Francisco'
params['term'] = term
params['location'] = location
params['limit'] = 50
params['offset'] = 100


response = requests.get(url,headers=api_header,timeout=25,params=params)
result = json.loads(response.text)

df3 = pd.DataFrame(result['businesses'])
# df3

In [345]:
set(df2['name']).intersection(set(df3['name']))

{'Bodega'}

In [346]:
set(df3['name']).intersection(set(df2['name']))

{'Bodega'}

In [227]:
df.loc[[3,52,101]]

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,location,phone,display_phone,distance,price
3,HHtpR0RslupSQ99GIIwW5A,marufuku-ramen-san-francisco-5,Marufuku Ramen,https://s3-media4.fl.yelpcdn.com/bphoto/ouK2Vm...,False,https://www.yelp.com/biz/marufuku-ramen-san-fr...,4515,"[{'alias': 'ramen', 'title': 'Ramen'}]",4.5,"{'latitude': 37.785014, 'longitude': -122.431842}","[pickup, delivery]","{'address1': '1581 Webster St', 'address2': 'S...",+14158729786,(415) 872-9786,2717.175933,$$
52,HHtpR0RslupSQ99GIIwW5A,marufuku-ramen-san-francisco-5,Marufuku Ramen,https://s3-media4.fl.yelpcdn.com/bphoto/ouK2Vm...,False,https://www.yelp.com/biz/marufuku-ramen-san-fr...,4515,"[{'alias': 'ramen', 'title': 'Ramen'}]",4.5,"{'latitude': 37.785014, 'longitude': -122.431842}","[delivery, pickup]","{'address1': '1581 Webster St', 'address2': 'S...",+14158729786,(415) 872-9786,2717.175933,$$
101,HHtpR0RslupSQ99GIIwW5A,marufuku-ramen-san-francisco-5,Marufuku Ramen,https://s3-media4.fl.yelpcdn.com/bphoto/ouK2Vm...,False,https://www.yelp.com/biz/marufuku-ramen-san-fr...,4515,"[{'alias': 'ramen', 'title': 'Ramen'}]",4.5,"{'latitude': 37.785014, 'longitude': -122.431842}","[delivery, pickup]","{'address1': '1581 Webster St', 'address2': 'S...",+14158729786,(415) 872-9786,2717.175933,$$

In [231]:
df['name'].drop_duplicates()

0           Kothai Republic
1        The Public Izakaya
2                      Lily
3            Marufuku Ramen
4                 Starbelly
                ...
41399                   ABV
41449      Marcello's Pizza
41499         Curbside Cafe
41549                 Piroo
41599       John kitchen #1
Name: name, Length: 857, dtype: object

In [232]:
params

{'term': 'restaurants',
 'location': 'San Francisco',
 'limit': 50,
 'offset': 832}

In [246]:
params['offset'] =

In [248]:
response = requests.get(url,headers=api_header,timeout=25,params=params)
result = json.loads(response.text)

# df2 = pd.DataFrame(result['businesses'])

In [249]:
result

{'error': {'code': 'VALIDATION_ERROR',
  'description': 'Too many results requested, limit+offset must be <= 1000.'}}

In [240]:
df.drop_duplicates()

TypeError: unhashable type: 'list'

In [361]:
df = pd.read_csv('chunky_restaurant_metadata_san_francisco.csv')

In [364]:
url = df['url'][0]

'https://www.yelp.com/biz/kothai-republic-san-francisco?adjust_creative=bpQq5NcAeZPqAmDOGLjWgA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=bpQq5NcAeZPqAmDOGLjWgA'

In [114]:
import json
import os
from datetime import datetime
from time import sleep

import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup


def retrieve_reviews(url):
    content = requests.get(url,timeout=20)
    soup = BeautifulSoup(content.content, "html.parser")
    relevant = soup.find_all('p', class_='comment__09f24__gu0rG css-qgunke')
    reviews = []
    
    for rev in relevant:
        review = rev.find('span').getText()
        reviews.append(review)

    return reviews


class YelpScraper:
    '''Custom Webscraper for Yelp API'''

    def __init__(self,url,api_key):

        self.url = url
        self.api_key = api_key

        self.params = {}
        self.api_header = {'Authorization': self.api_key,
                           'accept': 'application/json'}


    def search_single_restaurant(self,term,location='San Francisco'):
        """Retreiving Reviews of Single Restaurant"""

        self.params['location'] = location
        self.params['term'] = term
        self.params['limit'] = 1
        self.params['offset'] = 0

        response = requests.get(self.url,headers=self.api_header,timeout=25,
                                params=self.params)
        try:
            result = json.loads(response.text)
            scrape_url = result['businesses'][0]['url'].split('?')[0]
        except:
            print(response)
            print(response.text)
            return 

        top_rated_url = os.path.join(scrape_url,'?sort_by=rating_desc')
        low_rated_url = os.path.join(scrape_url,'?sort_by=rating_asc')
        newest_rated_url = os.path.join(scrape_url,'?sort_by=date_desc')
        elite_rated_url = os.path.join(scrape_url,'?sort_by=elites_desc')

        top_rated_content = retrieve_reviews(top_rated_url)
        # low_rated_content = retrieve_reviews(low_rated_url)
        # new_rated_content = retrieve_reviews(newest_rated_url)
        # elite_rated_content = retrieve_reviews(elite_rated_url)


        top_rated_df = pd.DataFrame({'review_type':['top_rated']*len(top_rated_content),
                                        'review':top_rated_content})
        # low_rated_df = pd.DataFrame({'review_type':['low_rated']*len(low_rated_content),
        #                                 'review':low_rated_content})
        # newest_rated_df = pd.DataFrame({'review_type':['newest_rated']*len(new_rated_content),
        #                                 'review':new_rated_content})
        # elite_rated_df = pd.DataFrame({'review_type':['elite_rated']*len(elite_rated_content),
        #                                 'review':elite_rated_content})

        rated_content = pd.concat([top_rated_df])
        # ,low_rated_df,
        #                             newest_rated_df,elite_rated_df]).reset_index(drop=True)

        return rated_content
    

    def search_with_url(self,url):
        

        top_rated_url = os.path.join(scrape_url,'?sort_by=rating_desc')
        low_rated_url = os.path.join(scrape_url,'?sort_by=rating_asc')
        newest_rated_url = os.path.join(scrape_url,'?sort_by=date_desc')
        elite_rated_url = os.path.join(scrape_url,'?sort_by=elites_desc')

In [115]:
ur_

NameError: name 'ur_' is not defined

In [116]:
url = os.path.join(url_base, url_business)
ys = YelpScraper(url,apikey)

ys.search_single_restaurant('Daeho')

  review_type                                             review
0   top_rated  I came to Daeho after checking out the Cherry ...
1   top_rated  Good food. Nice service.A bit noisy but worth ...
2   top_rated  I recently visited Daeho Kalbijjim & Beef Soup...
3   top_rated  So gooooood, spicy but tasty. A little expensi...
4   top_rated  Just as amazing as the name lives up to be. Sp...
5   top_rated  This place is always busy and there is a good ...
6   top_rated  Very good, flavorful fresh food but very expen...
7   top_rated  Braised short rib...mild was perfect. So glad ...
8   top_rated  One of my favorite Korean spots for traditiona...
9   top_rated  Long wait to get the seat - about 2 and half h...

In [109]:
df = pd.read_csv('chunky_restaurant_metadata_san_francisco.csv')

In [111]:
urls = list(df['url'])
urls[0]

'https://www.yelp.com/biz/kothai-republic-san-francisco?adjust_creative=bpQq5NcAeZPqAmDOGLjWgA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=bpQq5NcAeZPqAmDOGLjWgA'

In [112]:
retrieve_reviews(urls[0])

[]

In [34]:
for i, row in df.iterrows():
    print(i,row['name'],row['url'])
    break

0 Kothai Republic https://www.yelp.com/biz/kothai-republic-san-francisco?adjust_creative=bpQq5NcAeZPqAmDOGLjWgA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=bpQq5NcAeZPqAmDOGLjWgA

In [79]:
df = pd.read_csv('chunky_restaurant_metadata_san_francisco.csv')

In [80]:
df2 = pd.read_csv('san_francisco_yelp_reviews.csv')

,Unnamed: 0,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,location,phone,display_phone,distance,price
467,467,_Iupdt0IslH_jU8zkKcWLA,pica-pica-arepa-kitchen-san-francisco,Pica Pica Arepa Kitchen,https://s3-media1.fl.yelpcdn.com/bphoto/hAWS9I...,False,https://www.yelp.com/biz/pica-pica-arepa-kitch...,1655,"[{'alias': 'gluten_free', 'title': 'Gluten-Fre...",4.0,"{'latitude': 37.76646996177495, 'longitude': -...","['pickup', 'delivery']","{'address1': '401 Valencia St', 'address2': ''...",1.415401e+10,(415) 400-5453,1420.330189,$$
468,468,1toCkhuD0b57iFotMu3XEQ,la-ciccia-san-francisco,La Ciccia,https://s3-media1.fl.yelpcdn.com/bphoto/A8WWAf...,False,https://www.yelp.com/biz/la-ciccia-san-francis...,1211,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 37.7420027017, 'longitude': -122....",['delivery'],"{'address1': '291 30th St', 'address2': '', 'a...",1.415551e+10,(415) 550-8114,2271.666247,$$$
469,469,md19wETpeFhjh4MkFi029A,oma-san-francisco-station-san-francisco-2,Oma San Francisco Station,https://s3-media4.fl.yelpcdn.com/bphoto/HdV7X_...,False,https://www.yelp.com/biz/oma-san-francisco-sta...,281,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...",4.5,"{'latitude': 37.785103, 'longitude': -122.430974}","['pickup', 'delivery']","{'address1': '1737 Post St', 'address2': 'Ste ...",NaN,NaN,2733.969896,$$$$
470,470,qlmq6PkToss9tot2dsSBvw,mesopotamia-kitchen-san-francisco,Mesopotamia Kitchen,https://s3-media1.fl.yelpcdn.com/bphoto/uaRziK...,False,https://www.yelp.com/biz/mesopotamia-kitchen-s...,95,"[{'alias': 'mediterranean', 'title': 'Mediterr...",4.0,"{'latitude': 37.751369, 'longitude': -122.430058}","['pickup', 'delivery']","{'address1': '3915 24th St', 'address2': None,...",1.415924e+10,(415) 923-8545,1193.846474,NaN
471,471,C1KKLpAVfOH4PsTHHWsAqQ,ap-s-cafe-san-francisco,Ap’s Cafe,https://s3-media2.fl.yelpcdn.com/bphoto/r4RNaX...,False,https://www.yelp.com/biz/ap-s-cafe-san-francis...,37,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",5.0,"{'latitude': 37.7513241022825, 'longitude': -1...",[],"{'address1': '4108 24th St', 'address2': '', '...",1.415642e+10,(415) 642-1316,1074.295738,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,2FOv-XAZ2sMIlrE5xJc1Hw,eight-tables-by-george-chen-san-francisco,Eight Tables by George Chen,https://s3-media2.fl.yelpcdn.com/bphoto/7Pf3h2...,False,https://www.yelp.com/biz/eight-tables-by-georg...,189,"[{'alias': 'chinese', 'title': 'Chinese'}]",4.5,"{'latitude': 37.797961624676915, 'longitude': ...",[],"{'address1': '8 Kenneth Rexroth Pl', 'address2...",1.415789e+10,(415) 788-8788,4827.211397,$$$$
996,996,ZYwPNxGy4iUNCxUrBROODA,bakesale-betty-san-francisco,Bakesale Betty,https://s3-media3.fl.yelpcdn.com/bphoto/Jh696i...,False,https://www.yelp.com/biz/bakesale-betty-san-fr...,37,"[{'alias': 'burgers', 'title': 'Burgers'}, {'a...",2.0,"{'latitude': 37.770356, 'longitude': -122.387253}",[],"{'address1': '500 Terry A Francois Blvd', 'add...",NaN,NaN,4351.638227,NaN
997,997,_C9lRxAPnhSA59inBPx4TA,palm-city-wines-san-francisco,Palm City Wines,https://s3-media2.fl.yelpcdn.com/bphoto/mROJKE...,False,https://www.yelp.com/biz/palm-city-wines-san-f...,183,"[{'alias': 'wine_bars', 'title': 'Wine Bars'},...",4.5,"{'latitude': 37.762309, 'longitude': -122.501596}",[],"{'address1': '4055 Irving St', 'address2': Non...",NaN,NaN,5730.169191,$$
998,998,xlrbrMiIgSv0RBjI5g4mYw,chisai-sushi-club-san-francisco-2,Chisai Sushi Club,https://s3-media4.fl.yelpcdn.com/bphoto/DzBCyq...,False,https://www.yelp.com/biz/chisai-sushi-club-san...,134,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...",4.5,"{'latitude': 37.74263, 'longitude': -122.42155}",[],"{'address1': '3369 Mission St', 'address2': ''...",NaN,NaN,2414.008751,$$$$
999,999,ZNj4xwodItEfFofNYxMEhw,the-shota-san-francisco,The Shota,https://s3-media2.fl.yelpcdn.com/bphoto/gP2sC7...,False,https://www.yelp.com/biz/the-shota-san-francis...,264,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",5.0,"{'latitude': 37.79142, 'longitude': -122.40103}",['delivery'],"{'address1': '115 Sansome St', 'address2': Non...",1.628224e+10,(628) 224-2074,4604.509989,$$$$

In [90]:
# stopped at La Ciccia

df[df['name'] == 'La Ciccia']

,Unnamed: 0,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,location,phone,display_phone,distance,price
468,468,1toCkhuD0b57iFotMu3XEQ,la-ciccia-san-francisco,La Ciccia,https://s3-media1.fl.yelpcdn.com/bphoto/A8WWAf...,False,https://www.yelp.com/biz/la-ciccia-san-francis...,1211,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 37.7420027017, 'longitude': -122....",['delivery'],"{'address1': '291 30th St', 'address2': '', 'a...",1.415551e+10,(415) 550-8114,2271.666247,$$$

In [98]:
100 % 25

0

In [99]:
df = pd.read_csv('chunky_restaurant_metadata_san_francisco.csv')
df = df.iloc[467:]
rated_content_concat = pd.DataFrame()

for i, row in df.iterrows():
    if i % 25 == 0:
        print(i, row['name'])
        
    url = row['url']
    scrape_url = url.split('?')[0]

    top_rated_url = os.path.join(scrape_url,'?sort_by=rating_desc')
    low_rated_url = os.path.join(scrape_url,'?sort_by=rating_asc')
    newest_rated_url = os.path.join(scrape_url,'?sort_by=date_desc')
    elite_rated_url = os.path.join(scrape_url,'?sort_by=elites_desc')

    top_rated_content = retrieve_reviews(top_rated_url)
    sleep(2)
    low_rated_content = retrieve_reviews(low_rated_url)
    sleep(2)
    new_rated_content = retrieve_reviews(newest_rated_url)
    sleep(2)
    elite_rated_content = retrieve_reviews(elite_rated_url)
    sleep(2)


    top_rated_df = pd.DataFrame({'review_type':['top_rated']*len(top_rated_content),
                                    'review':top_rated_content})

    low_rated_df = pd.DataFrame({'review_type':['low_rated']*len(low_rated_content),
                                    'review':low_rated_content})
    
    newest_rated_df = pd.DataFrame({'review_type':['newest_rated']*len(new_rated_content),
                                    'review':new_rated_content})
    
    elite_rated_df = pd.DataFrame({'review_type':['elite_rated']*len(elite_rated_content),
                                    'review':elite_rated_content})
    
    
    rated_content = pd.concat([top_rated_df,low_rated_df,
                                newest_rated_df,elite_rated_df]).reset_index(drop=True)
    if len(rated_content['review_type'].unique()) != 4:
        with open('missed_reviews.txt', 'w') as f:
            msg = f'MISSED RESTAURANT: {row["name"]} \n'
            f.write(msg)
    
    
    rated_content['name'] = [row['name']] * len(rated_content)
    rated_content['id'] = [row['id']] * len(rated_content)
    rated_content = rated_content[['id','name','review_type','review']]
    
    rated_content_concat = pd.concat([rated_content_concat,rated_content]).reset_index(drop=True)
    
    rated_content_concat.to_csv('san_francisco_yelp_reviews_2.csv',index=False)

475 Jin Mi Korean Cuisine
500 Roam Artisan Burgers
525 Cotogna
550 Okane
575 Blackwood
600 Outre
625 Jackson Fillmore Trattoria
650 The Patio
675 Tartine Inner Sunset
700 Oasis Grill
725 Slice House Haight by Tony Gemignani
750 La Cocina Municipal Marketplace
775 Geary Kebab House
800 WesBurger 'N' More
825 The Terrace
850 Cracked & Battered - Potrero Hill
875 Hidden Spot EXL
900 Tony's Cable Car Restaurant
925 Thai House Express
950 54 Mint - Ristorante Italiano
975 Amarena

In [103]:
a = pd.read_csv('san_francisco_yelp_reviews.csv')
b = pd.read_csv('san_francisco_yelp_reviews_2.csv')
pd.concat([a,b]).reset_index(drop=False).to_csv('san_francisco_yelp_reviews_final.csv')

In [66]:
test = pd.read_csv('san_francisco_yelp_reviews.csv')

In [69]:
len(test['name'].unique())

458

34171

In [54]:
low_rated_url

'https://www.yelp.com/biz/kothai-republic-san-francisco/?sort_by=rating_asc'

In [52]:
scrape_url = urls[0].split('?')[0]
low_rated_url = os.path.join(scrape_url,'?sort_by=rating_asc')
low_rated_content = retrieve_reviews(low_rated_url)

In [53]:
low_rated_content

["- everything about kothai is aesthetic - they have a gorgeous, modern interior with wood tones, and their choice of tableware is minimalist, but sophisticated. my friends were impressed by the weight of the sharing plates haha - the menu isn't that extensive (only 1 page long), and they seem to change it periodically- service could've been a little better. we had a pretty large group so we made a reservation, but still had to wait a fair bit before being seated. they also took a while to take our order and get us the check. - portions are larger IRL than in the pictures which we were pleasantly surprised by!- they have a garlic chili crunch sauce and a green garlic chili sauce which was actually pretty spicy- spicy korean noodle (3/5): the plating was nice, but the flavors did not impress me unfortunately. this is a cold noodle dish (which the waitress double-checked i knew after i ordered) that comes with pork jowl. the pork was a little too salty and the spicy sauce that the noodles were coated in wasn't anything impressive. it wasn't that spicy, but you can definitely feel it on your lips by the time you finish your meal. - korean BBQ skirt (4/5): steak was at a perfect medium rare, and super juicy and flavorful. the kalbi marinade was just the right amount of sweetness, and paired well with the burnt onion puree/sauce which was earthy, full of umami, and had just the right hint of horseradish. a little on the pricey side though. - i tried my friend's beef noodle soup, and it just tasted like taiwanese beef noodle soup with more mild flavors. - kothai attempts a korean and thai fusion, however the fusion of the flavors from these two cuisines doesn't seem to complement one another too well. the flavors are just a little off, and leaves me craving the authentic version instead. - i had been wanting to try this place due to the hype, and though it is very aesthetically pleasing, the food unfortunately fell flat, and i most likely wouldn't come back again",
 'The food was overall not bad. It was decent, nothing special, but the portions were extremely tiny for an absurd price (the price of two appetizers and one entree was $50). Although it wasn\'t bad, it was definitely not worth the price. I\'ve had better Korean/Thai food at a way cheaper price. Some would say it\'s quality over quantity, which is what I thought before my experience, but afterwards, I can confidently say that it is more about presentation than anything else.Regardless of the food, I had more of a problem with the service and my waiter in general. I don\'t want to name any names or call anyone out due to their job safety, but my whole table was completely taken aback by a comment he had made at the end of our meal. My group had stopped by for a quick bite to eat before leaving the city and had literally just stopped for boba on the way there. We came into the restaurant with our boba drinks as well. After eating (two appetizers and one entree), our waiter came up to our table and asked us, word for word, "Was there something wrong with the food? Did you not like it?" I proceeded to tell him that everything was fine. He explained that he asked us because we "had not eaten much". However we were just not extremely hungry, or willing to pay that price for a satisfactory meal. Not to mention, there were very few things on the menu. The comment made by the waiter severely influenced my decision to write this review. It was definitely an irregular and quite disrespectful question to ask a customer, and I was shocked by the audacity he had to ask it.',
 "Ordered the Tom yum and the beef noodle soup the other day! In terms of the flavor - I thought both were pretty decent. Tom yum had just a bit of a kick and classic soury soupiness. I wish the beef noodle soup would have had a deeper/richer flavor of the beef broth and a bit less sweetness which I guess can come down to personal preference as well.Loved the ambience/decor of the restaurant as Idt there are too many like this in the 9th ave area. I think it's a bit pricer (both were $22-23) than what I was expecting, but reasonable if you factor in the general ambience of the restaurant.",
 "Kothai Republic has so much potential and I can foresee that if they tweak their dishes just a bit, this place can exceed expectations. Came here on a Tuesday and there was no one in the restaurant but my boyfriend and I were enticed but the pictures so we decided to give it a try.Waitress was amiable, quick and efficient and made sure we were checked up on constantly. The food, on the other hand, was of high quality ingredients but I didn't really care much for the execution of the dishes. The pear and beet salad was a strange combo and the sweetness of the pears overwhelmed the overall crisp salad which I personally could not palate. The beef noodle soup was delicious but the broth was overly salty for me. The beef was tender and juicy and made up for the broth. The noodles were cooked to perfection and was able to withhold \xa0the flavors the broth well.Overall, I do see this place taking off in the near future.",
 "Amazing service, very clean, lots of sunlight, and delicious food. The service is very attentive, all cutlery and plates were very clean, and the seats comfortable to sit on. The noodles and rice dishes are completely worth it. They were delicious and one plate/bowl could be shared with ~3 people, or you could eat it for one person and be completely full.However, the amount of food for some the appetizers is quite small for how expensive it is per plate. For example, the Thai Crudo and the Kimchi Rice Balls are quite expensive for only a few bites. I wish the Thai Crudo had more raw fish ): only a few bites more please!I also thought some of the appetizers and entree plates aren't quite balanced -- I personally felt some of the plates could use some acidity, be it lime, pickled vegetables, etc. Additionally, it would also be great if they had multiple desserts to try, but it's okay since the street the restaurant is on has multiple dessert places. All in all, as a Thai person who ate here, I enjoyed it and thought it was worth trying at least once.",
 "Came here last week to get some lunch for my friend's birthday and I am so glad that we picked this place! I had no idea what to expect initially given their shorter menu that deviated from common Thai and Korean dishes but boy was this place amazing. I ordered the Korean Spicy Noodle with Grilled Chicken and Peanut Sauce and the Tom Yum Noodle Soup. Both items were absolutely delicious! The chef did such a great job with flavor and the dishes were perfectly balanced with elements of spiciness, sweetness, and some acidity. Kothai is clearly very intentional with what they put on the menu and work hard to perfect those dishes. On top of the delicious food, a free Cheesecake topped with a tasty Apple Crumble was given to my friend for free to celebrate her birthday. The cheesecake was not overly sweet and had a nice crunch due to the apple crumble topping. The service was incredible as well with prompt and friendly servers. I will definitely be coming back here again! Do check this place out when you are craving some delicious food without a pretentious ambience.",
 "Ambiance: it's cozy - great for night out with friends. Maybe a little tight for romantic date night. Servers were all super friendly and gave great recommendations on the menu. Food:Kbbq Skirt Steak [4/5]: yummy, tender, juicy - with fantastic marinade. Burnt onion puree was a nice sweet touch. Hamachi collar [4/5]: probably my favorite part of any fish because the meat is so tender here. (My BF thought it was slightly fishy but he isn't a huge seafood fan - I thought it was perfectly fine) Skin was crispy as well and loved the kick of the chili oil. Ceviche [5/5]: this dish came first and WOW. I absolutely LOVED this. The red shrimp had a nice tangy bite, loved the kick of the garlic. Had great texture, was super fresh, light, and super tasty. 10/10 recommend!! Korean Spicy Noodle [4/5]: was yummy and what you'd expect from spicy cold noodles. The grilled pork jowl had tasty marinade on it (my BF said it tasted like tofu hahaha - not a bad thing just an interesting comment) but was enjoyable. It was kinda cold that day so probably shouldve gone with a soupy noodle. Apple Pie Cheesecake [4/5]: cheesecake in a mason jar - super cute and yummy. Tasted exactly like your traditional apple pie and of fall :)",
 'The restaurant decorated nicely. It has the perfect vibe for rainy day with the tall glass windows. The customer service was awesome! They constantly filled your water. I ordered the spicy Tom Yum. The bowl looked small, but there were so much food (lots of noodles). I really enjoyed the spiciness of this dish. It was not fake or crazy spicy. The shrimps were fresh and jumbo size. Would totally go here again!',
 'Definitely lived up to the 5 star rating. The food was very good and it was in a great location. We enjoyed the sights and sounds while enjoying fine beef noodle soup.',
 'Overall great experience! The food always was surprising, tasty and well executed. In my opinion, the restaurant offers an amazing price/value and would recommend if you want to enjoy a more "upscale" cuisine.The "Kimchi Rice Ball" were definitely my favorite! We also took the chicken toast which was full of different spices and mix of flavors. To enjoy it the best, make sure you divide the toppings, cucumber & red onion, equally as they definitely offer a nice final touch to the dish. Unfortunately, some of the appetizers were already sold out when we arrive, 7:30PM, which was a bit surprising and disappointing.The TomYum Noodle Soup has a good balance between the two cuisines. I really enjoy the bites of crispy pork belly! The dish can be spicy.The dessert was a Apple Crumble cheesecake - light and yummy! I personally prefer my apples with a bit less cinnamon and a bit more caramelized.On another note, some table might be cold as people get in and out of the restaurant. I would suggest (1) put the wait long sign on the window so people\'s don\'t have to get in which will result in less traffic and (2) maybe a curtain or fake wall around the door could help with the cold from outside and create a nice separation.']

'https://www.yelp.com/biz/kothai-republic-san-francisco?adjust_creative=bpQq5NcAeZPqAmDOGLjWgA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=bpQq5NcAeZPqAmDOGLjWgA'

In [74]:
len(pd.read_csv('san_francisco_yelp_reviews.csv')['name'].unique())

458

In [73]:
len(pd.read_csv('chunky_restaurant_metadata_san_francisco.csv')['name'].unique())

972

In [75]:
pd.read_csv('san_francisco_yelp_reviews.csv')

,id,name,review_type,review
0,s2R3RUJ09eBFvHVIUS4Shg,Kothai Republic,top_rated,Great experience at this new 3.5 month old Kor...
1,s2R3RUJ09eBFvHVIUS4Shg,Kothai Republic,top_rated,opopopopopopopopopopopopopopopopopopopopopopop...
2,s2R3RUJ09eBFvHVIUS4Shg,Kothai Republic,top_rated,Everything here is excellent. My favorites are...
3,s2R3RUJ09eBFvHVIUS4Shg,Kothai Republic,top_rated,This ambiance and decor was well appointed and...
4,s2R3RUJ09eBFvHVIUS4Shg,Kothai Republic,top_rated,We had reservations for seven at Kothai when i...
...,...,...,...,...
16306,1toCkhuD0b57iFotMu3XEQ,La Ciccia,elite_rated,Yum!Their pastas ARE more delicious at the res...
16307,1toCkhuD0b57iFotMu3XEQ,La Ciccia,elite_rated,This was our first time. Our friend recommende...
16308,1toCkhuD0b57iFotMu3XEQ,La Ciccia,elite_rated,Continues to be one of the best places in SF. ...
16309,1toCkhuD0b57iFotMu3XEQ,La Ciccia,elite_rated,Great local spot. Loved: Pasta with cured fish...
16310,1toCkhuD0b57iFotMu3XEQ,La Ciccia,elite_rated,"Pasta is their craft here, and if you're looki..."